:root {
    // шрифты
    --font-family-main: "Roboto", "Arial", "sans-serif";
    --letter-spacing-main: 0.5px;
    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-600: 600;

    // цвета
    --primary-black: #000;
    --primary-white: #fff;
    --primary-blue: #32a1e3;
    --secondary-blue: #184163;

    // отступы
    --extra-small: 4px;
    --small: 8px;
    --medium: 16px;
    --large: 24px;
    --extra-large: 32px;

    // размеры
    --navbar-height: 70px;
    --footer-height: 140px;
}
