.select-input {
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px;
    min-width: 200px;
    width: 300px;

    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    text-align: center;


}