.custom-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  word-wrap: break-word;
  min-width: 50px;
  white-space: break-spaces;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 12px;
  font-family: "Times New Roman", sans-serif!important;
}