.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-form {
    width: 99%;
    background-color: white;
    border-radius: 10px;

    .main-form-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px 20px 0 20px;

      select {
        padding: 10px;
        width: 350px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        font-size: 14px;
        font-weight: bold;

        &:hover, &:focus {
          outline: none;
          box-shadow: 0 0 10px 1px #50bbfa;
        }
      }

      button {
        padding: 10px;
        width: 170px;
        height: 40px;
        color: white;
        border-radius: 5px;
        border: none;
        background-color: #32A1E3;
        font-size: 14px;
        transition: 0.3s all ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: #247eb9;
        }
      }
    }

    .main-form-bottom {
       display: flex;
       align-items: center;
       text-align: center;
       padding: 20px;

       .data-table {
         width: 100%;
         border-collapse: collapse;

         button {
           width: 36px;
           height: 30px;
           cursor: pointer;
           border: 1px solid blue;
           border-radius: 5px;
           background: transparent;
           margin-right: 5px;
           transition: 0.3s all ease-in-out;

           &:hover {
             background: #32A1E3;
           }
         }
       }

       .data-table th,
       .data-table td {
         border: 1px solid #ccc;
         padding: 5px;
       }

       .data-table {
         background-color: #CFE2FF;
       }

       //.data-table td:nth-child(1) {
       //  width: 138px;
       //}
       //.data-table td:nth-child(2) {
       //  width: 95px;
       //}
       //.data-table td:nth-child(3) {
       //  width: 138px;
       //}
       //.data-table td:nth-child(4) {
       //  width: 866px;
       //}
       //.data-table td:nth-child(5) {
       //  width: 138px;
       //}
       //.data-table td:nth-child(6) {
       //  width: 138px;
       //}
     }
  }
}