.colItem:has(div) {
    height: 100%;

    // min-width: 200px;
}

.rowItem {
    // align-items: end;
    // flex-wrap: wrap;
    display: grid;
    width: 100%;
    margin-bottom: var(--small);
    margin-top: var(--medium);
}
