.exact-journal-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .exact-journal-other-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .exact-journal-update-left {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      border-radius: 10px;
      width: 40%;
      padding: 10px;
      background-color: #e8dcdc;

      span {
        font-size: 18px;
      }

      .disabled {
        border: 1px solid #32A1E3;
        text-align: center;
        border-radius: 10px;
        height: 40px;
        width: 80%;
        gap: 10px;
        margin: 10px;
        color: black;
        outline: none;
        background-color: #eeeeee;
      }
    }
  }

  @media (min-width: 2000px) {
    .exact-journal-other-block {
      width: 100%;

      .exact-journal-update-left {
        justify-content: center;
        height: 500px;

        span {
          font-size: 30px;
        }

        .disabled {
          font-size: 28px;
        }
      }
    }
  }
}