.exact-protocols-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .exact-top-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .exact-protocol-button {
      padding: 8px 16px;
      margin-right: 10px;
      background-color: transparent;
      border: none;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 10px;
      color: #0d6efd;
      transition: background-color, all 0.3s ease-in-out;

      &.exact-selected-red {
        background-color: red;
        color: white;
      }

      &.exact-red {
        background-color: red;
      }

      &:hover,
      &.exact-selected {
        background-color: #32A1E3;
        color: white;
      }
    }
  }

  //главная часть + сайдбар слева
  .exact-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    column-gap: 40px;
    overflow: auto;
    //display: flex;
    //flex-direction: row;
    //align-items: start;
    //justify-content: center;
    //text-align: start;
    //height: 60vh;

    .exact-left-sidebar {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      left: 0;
      height: 520px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      margin: 20px 0 20px 0;
      overflow-y: auto;

      .exact-left-sidebar-subjects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;

        .exact-left-sidebar-subjects-buttons {
          button {
            margin: 5px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #32A1E3;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            border: 1px solid #6c757d;

            &:hover {
              background-color: #056090;
            }
          }

          .exact-left-sidebar-button1 {
            width: 100px;
            height: 30px;
            background-image: url('/public/back_arrow.png');
          }
          .exact-left-sidebar-button2 {
            width: 50px;
            height: 30px;
            background-image: url('/public/plus.png');
          }
          .exact-left-sidebar-button3 {
            width: 100px;
            height: 30px;
            background-image: url('/public/next_arrow.png');
          }
        }

        select {
          width: 80%;
          height: 40px;
        }
      }

      .exact-protocol-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;

        .red-background {
          background-color: red;
        }

        h2 {
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: 700;
          cursor: pointer;
          color: #32A1E3;
          padding: 5px;
          border-radius: 10px;

          &:hover {
            background-color: #32A1E3;
            color: white;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .exact-section-item {
          padding: 8px;
          margin: 10px;
          font-size: 14px;
          font-weight: 500;
          color: #0d6efd;
          cursor: pointer;
          border-radius: 10px;
          white-space: break-spaces;
          transition: background-color, all 0.3s ease-in-out;

          &:hover,
          &.exact-selected {
            background-color: #32A1E3;
            color: white;
          }
        }
      }
    }

    //центральный блок

    .exact-main-content {
      width: 100%;
      margin-top: 20px;
      height: 540px;
      overflow-y: auto;
      margin-bottom: 10px;
      z-index: 1000;

      .exact-protocol-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
      }

      .exact-protocol-name-block {
        text-align: center;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
      }

      .exact-section {
        width: 100%;
        //margin-bottom: 30px;

        .exact-section-info {
          display: flex;
          justify-content: center;
          width: 100%;
          //background-color: #20c997;
        }

        .exact-selected {
          border: 2px solid blue;
          padding: 10px;
        }
      }

      .exact-no-protocol-selected {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 20px;
        color: black;

        .exact-no-protocol-selected-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
          width: 100%;
          height: 30%;
          border-radius: 10px;
          margin: 5px;

          span {
            padding: 10px;
            font-size: 18px;
            font-weight: 700;
          }

          button {
            border-radius: 10px;
            color: white;
            border: 1px solid #eeeeee;
            background-color: #32A1E3;
            cursor: pointer;
            width: 40%;
            height: 40px;
            transition: 0.3s all ease-in-out;

            &:hover {
              background-color: #537c99;
            }
          }
        }
      }
    }

    //сайдбар справа

    .exact-right-sidebar {
      display: flex;
      justify-content: center;
      align-items: start;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      height: 520px;
      left: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      margin: 20px 0 20px 0;
      overflow-y: auto;
      .exact-right-sidebar-test {

      }
    }
  }
}



@media screen and (min-width: 1920px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 300px;
    }

    .exact-main-content {
      width: 70%;
    }
  }
}

@media screen and (min-width: 2048px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 350px;
    }

    .exact-main-content {
      width: 75%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 300px;
    }

    .exact-main-content {
      width: 70%;
    }
  }
}

@media screen and (min-width: 2560px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 400px;
    }

    .exact-main-content {
      width: 80%;
    }
  }
}

@media screen and (min-width: 3200px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 450px;
    }

    .exact-main-content {
      width: 85%;
    }
  }
}

@media screen and (min-width: 3840px) {
  .exact-content-container {
    .exact-left-sidebar {
      flex: 0 0 500px;
    }

    .exact-main-content {
      width: 90%;
    }
  }
}

//.exact-protocols-container {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//
//  .exact-top-block {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//    text-align: center;
//    padding: 10px;
//    background-color: #f2f2f2;
//    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//
//    .exact-protocol-button {
//      padding: 8px 16px;
//      margin-right: 10px;
//      background-color: transparent;
//      border: none;
//      font-size: 18px;
//      font-weight: 500;
//      cursor: pointer;
//      border-radius: 10px;
//      color: #0d6efd;
//      transition: background-color, all 0.3s ease-in-out;
//
//      &:hover,
//      &.exact-selected {
//        background-color: #32A1E3;
//        color: white;
//      }
//    }
//  }
//
//  .exact-content-container {
//    display: flex;
//    flex: 1;
//    overflow: hidden;
//
//    .exact-left-sidebar {
//      flex: 0 0 240px;
//      padding: 10px;
//      background-color: #f2f2f2;
//      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
//      overflow-y: auto;
//
//      .exact-protocol-info {
//        margin-bottom: 20px;
//
//        h2 {
//          margin-bottom: 10px;
//          font-size: 18px;
//          font-weight: 600;
//        }
//      }
//
//      ul {
//        list-style: none;
//        padding: 0;
//        margin: 0;
//
//        .exact-section-item {
//          padding: 8px;
//          margin: 10px;
//          font-size: 14px;
//          font-weight: 500;
//          color: #0d6efd;
//          cursor: pointer;
//          border-radius: 10px;
//          transition: background-color, all 0.3s ease-in-out;
//
//          &:hover,
//          &.exact-selected {
//            background-color: #32A1E3;
//            color: white;
//          }
//        }
//      }
//    }
//// исправить баг
//    .exact-main-content {
//      display: flex;
//      justify-content: center;
//      align-items: start;
//      text-align: center;
//      //width: 65%;
//      //background-color: #0f3b54;
//      padding: 10px;
//      overflow-y: auto;
//
//      .exact-protocol-info {
//        display: flex;
//        flex-direction: column;
//        width: 950px;
//        background-color: white;
//        font-weight: 600;
//        border-radius: 10px;
//        padding: 10px;
//        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
//        margin-bottom: 30px;
//      }
//
//      .exact-protocol-name-block {
//        background-color: white;
//        border-radius: 10px;
//        padding: 10px;
//        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
//        margin-bottom: 30px;
//      }
//
//      .exact-section {
//        margin-bottom: 20px;
//
//        .exact-section-info {
//          display: flex;
//          justify-content: center;
//          width: 100%;
//          //background-color: #20c997;
//        }
//
//        &.exact-selected {
//          height: 30px;
//          background-color: #32A1E3;
//        }
//
//        h2 {
//          font-size: 18px;
//          font-weight: 600;
//          margin-bottom: 10px;
//        }
//      }
//
//      .no-protocol-selected {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        height: 100%;
//        font-size: 16px;
//        color: #888;
//      }
//    }
//  }
//
//  @media screen and (min-width: 1920px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 300px;
//      }
//
//      .exact-main-content {
//        width: 70%;
//      }
//    }
//  }
//
//  @media screen and (min-width: 2048px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 350px;
//      }
//
//      .exact-main-content {
//        width: 75%;
//      }
//    }
//  }
//
//  @media screen and (min-width: 1600px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 300px;
//      }
//
//      .exact-main-content {
//        width: 70%;
//      }
//    }
//  }
//
//  @media screen and (min-width: 2560px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 400px;
//      }
//
//      .exact-main-content {
//        width: 80%;
//      }
//    }
//  }
//
//  @media screen and (min-width: 3200px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 450px;
//      }
//
//      .exact-main-content {
//        width: 85%;
//      }
//    }
//  }
//
//  @media screen and (min-width: 3840px) {
//    .exact-content-container {
//      .exact-left-sidebar {
//        flex: 0 0 500px;
//      }
//
//      .exact-main-content {
//        width: 90%;
//      }
//    }
//  }
//}
