.custom-data-input {
  font-size: 18px;
  padding: 5px;
  //width: 300px;
  height: auto;
  white-space: pre-wrap;
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
  margin-right: 10px;
  text-align: center;
  background-color: #ffffff;
}