.admin-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .admin-panel-journal {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 10px;
    top: 45px;
    border-radius: 10px;
    border: 1px solid #32A1E3;
    cursor: pointer;
    color: #32A1E3;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s all ease-in-out;

    &:hover {
      box-shadow: 0 0 10px 3px #50bbfa;
      border: 1px solid #1d5b86;
      background-color: #2771a9;
      color: white;
    }
  }

  .admin-panel-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;

    button {
      width: 33%;
      height: 60px;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      background-color: #32A1E3;
      border-radius: 10px;
      border: 1px solid #32A1E3;
      color: white;
      font-size: 14px;
      font-weight: 500;
      transition: 0.3s all ease-in-out;

      &:hover {
        box-shadow: 0 0 10px 3px #50bbfa;
        border: 1px solid #1d5b86;
        background-color: #1d5b86;;
      }
    }
  }

  .admin-panel-table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;

    .admin-panel-data-table {
      width: 95%;
      border-collapse: collapse;

      button {
        width: 36px;
        height: 30px;
        cursor: pointer;
        border: 1px solid blue;
        border-radius: 5px;
        background: transparent;
        margin-right: 5px;
        transition: 0.3s all ease-in-out;

        &:hover {
          background: #32A1E3;
          border: 5px solid #32A1E3;
          box-shadow: 0 0 10px 1px #50bbfa;
        }
      }
    }

    .admin-panel-data-table th,
    .admin-panel-data-table td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    .admin-panel-data-table {
      background-color: #CFE2FF;
    }

    //.admin-panel-data-table td:nth-child(1) {
    //  width: 50px;
    //}
    //.admin-panel-data-table td:nth-child(2) {
    //  width: 195px;
    //}
    //.admin-panel-data-table td:nth-child(3) {
    //  width: 195px;
    //}
    //.admin-panel-data-table td:nth-child(4) {
    //  width: 866px;
    //  padding-right: 150px;
    //}
    //.admin-panel-data-table th:nth-child(4) {
    //  width: 866px;
    //  padding-right: 150px;
    //}
    //.admin-panel-data-table td:nth-child(5) {
    //  width: 195px;
    //}
    //.admin-panel-data-table td:nth-child(6) {
    //  width: 50px;
    //}
  }

  .admin-panel-centre-table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    box-sizing: border-box;

    .admin-panel-data-table {
      border-collapse: collapse;
      width: 100%;

      button {
        height: 30px;
        width: 36px;
        border: 1px solid blue;
        cursor: pointer;
        border-radius: 5px;
        background: transparent;
        transition: 0.3s all ease-in-out;
        margin-right: 5.1px;

        &:hover {
          background: #32A1E3;
          border: 5px solid #32A1E3;
          box-shadow: 0 0 10px 1px #50bbfa;
        }
      }
    }

    .admin-panel-data-table th,
    .admin-panel-data-table td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    .admin-panel-data-table {
      background-color: #CFE2FF;
    }

    //.admin-panel-data-table td:nth-child(1) {
    //  width: 50px;
    //}
    //.admin-panel-data-table td:nth-child(2) {
    //  width: 500px;
    //}
    //.admin-panel-data-table td:nth-child(3) {
    //  width: 50px;
    //}
  }
}