.accordion-item {
  margin-bottom: 10px;

  .accordion-header {
    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #eee;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #32a1e3;
        color: white;
      }

      &.collapsed {
        background-color: #eee;
      }
    }
  }

  .accordion-collapse {
    .accordion-body {
      ul {
        list-style-type: none;
        padding: 0;

        li {
          h6 {
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

strong {
  font-weight: bold;
}
