.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Layout {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1200px;
    margin: var(--extra-large) auto;
    overflow: auto;
}

.goBackButton {
    width: fit-content;
    height: var(--go-back-button-height);
    margin: var(--small);
}
