.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1025px;
  height: 80px;
  border-radius: 10px;
  margin: 40px;
  background-color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}