.inputType {
    width: 100%;
}

.formItem {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
}

.responsiveFormItem {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
}

.checkbox {
    justify-content: start;
}
