.inputType {
    width: 100%;
}

.formItem {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;

    :global(.ant-form-item-explain) {
        display: none;
    }
}

.responsiveFormItem {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;

    :global(.ant-form-item-explain) {
        display: none;
    }
}

.checkbox {
    justify-content: start;
}
