.circleNoDropDown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid #c1b6b6;
  background-color: #e9ecef;

  .first-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    //border: 1px solid yellow;
    background-color: #fff;
    //margin-right: 6px;

    &.success {
      background-color: #00f100;
    }

    .error {
      background-color: red;
    }
  }
}