.select-block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  padding: 15px;
  column-gap: 20px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  &-title {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;

    &.long {
      width: 85%;
      margin-right: 5px;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .select-block-body-item {
      .long-input {
        width: 600px !important;
      }
    }
  }
}