.footerWrapper {
    margin-top: var(--extra-large);
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--small);
}

.modal {
    :global(.ant-modal-confirm-content) {
        max-height: 500px;
        overflow-y: auto;
    }
}
